========================================
#navigation			swamp-navigation
========================================

#TCA				swampTCA_est

#body_GNSS			yes
name				gnss
x					0.
y					0.
z					0.
phi					0.
theta				0.
psi					0.

#stern_GNSS			no

#bow_GNSS			no

#body_AHRS			yes
name				ahrs
x					0.
y					0.
z					0.
phi					0.
theta				0.
psi					0.

#end
