Sensors
	BlueBoat		
		bbGNSS
		bbAHRS
	#end
#end

LogicalPosition
	BlueBoat
#end

LogicalAttitude
	BlueBoat
#end

LogicalSpeed
	BlueBoat
#end

LogicalLinearRate
	none
#end

LogicalAngularRate
	BlueBoat
#end
