Sensors
	gnssBlueBoat		
		bbGNSS
	#end
	ahrsBlueBoat
		bbAHRS
	#end
#end

LogicalPosition
	gnssBlueBoat
#end

LogicalAttitude
	ahrsBlueBoat
#end

LogicalSpeed
	gnssBlueBoat
#end

LogicalLinearRate
	none
#end

LogicalAngularRate
	ahrsBlueBoat
#end
