Sensors
	gnss		
		ZED-F9P
	#end
	minionRL
		MinionGPS
		MinionAHRS
	#end
	minionFL
		MinionGPS
		MinionAHRS
	#end
	minionRR
		MinionGPS
		MinionAHRS
	#end
	minionFR
		MinionGPS
		MinionAHRS
	#end
	ahrs
		3DM-CV7-AHRS
	#end
	dvl
		a50-miniDVL
	#end
	microstrain
		msGNSS
		msAHRS
	#end
#end

LogicalPosition
	gnss
	microstrain
	minionRL
	minionFL
	minionRR
	minionFR
#end

LogicalAttitude
	ahrs
	microstrain
	minionRL
	minionFL
	minionRR
	minionFR
#end

LogicalSpeed
	gnss
	microstrain
	minionRL
	minionFL
	minionRR
	minionFR
#end

LogicalLinearRate
	dvl
#end

LogicalAngularRate
	ahrs
	microstrain
#end
