========================================
#autopilot			swamp-autopilot
========================================

#task				auto_heading
#algo				PI_autopilot
#reference_output	2
					yawrate
					surge
#estimate_input		1
					heading
#endtask

#task				auto_course
#algo				PI_autopilot
#reference_output	2
					yawrate
					surge
#estimate_input		1
					course
#endtask

#end
