========================================
#control			swamp-control
========================================

#task				auto_surge
#algo				PI_GS
#reference_output	1
					surge_force
#estimate_input		1
					surge
#endtask
#task				auto_sway
#algo				PI_GS
#reference_output	1
					sway_force
#estimate_input		1
					sway
#endtask

#task				auto_yaw
#algo				PI_GS_yaw
#reference_output	1
					yaw_torque
#estimate_input		2
					yawrate
					surge
#endtask

#end
