========================================
#control			swamp-control
========================================

#task-algo			auto_surge			PI_GS
#task-algo			auto_sway			PI_GS
#task-algo			auto_yaw			PI_GS_yaw

#end
