========================================
#guidance			swamp-guidance
========================================

#task				path_following
#algo				PF_VT_yawrate
#reference_output	2
					yawrate
					surge
#estimate_input		3
					latitude
					longitude
					heading
#endtask
					
#task				path_following
#algo				PF_VT_heading
#reference_output	2
					heading
					surge
#estimate_input		3
					latitude
					longitude
					heading
#endtask

#task				line_following
#algo				LF_VT_yawrate
#reference_output	2
					yawrate
					surge
#estimate_input		3
					latitude
					longitude
					heading
#endtask

#task				line_following
#algo				LF_PD_yawrate
#reference_output	2
					yawrate
					surge
#estimate_input		3
					latitude
					longitude
					heading
#endtask

#task				go_to_heading
#algo				LOS
#reference_output	2
					heading
					surge
#estimate_input		2
					latitude
					longitude
#endtask

#task				go_to_course
#algo				LOS
#reference_output	2
					course
					surge
#estimate_input		2
					latitude
					longitude
#endtask

#task				keep_point
#algo				PI_3dofs
#reference_output	3
					surge
					sway
					yawrate
#estimate_input		3
					latitude
					longitude
					heading
#endtask

#end
