========================================
#guidance			swamp-guidance
========================================

#task-algo			path_following		PF_VT_yawrate
#task-algo			line_following		LF_VT_yawrate
#task-algo			go_to_heading		LOS
#task-algo			go_to_course		LOS
#task-algo			keep_point			PI_3dofs

#end
